<!DOCTYPE html>
<html class="login-page">
<head>
    {% include 'partials/head.twig' %}
    <title>{% block title %}Log in{% endblock %} – {{ config_get('app.name') }}</title>
</head>
<body>
{% block body %}
    <div class="container page-content fullheight">
        {% block content %}
            <div class="row fullheight">
                <div class="fullheight col s12 m6 offset-m3 valign-wrapper">
                    <div class="card login-card valign">
                        <form method="POST" action="{{ route('auth/do_login') }}">
                            <div class="card-content">
                                <div class="center-align">
                                    <img class="login-logo" src="{{ asset('img/logo/Px-logo-cut-small.png') }}" alt="{{ config_get('app.name') }}">
                                </div>
                                <div class="login-form">
                                    <div class="card-title center-align">{{ trans('auth.log_in') }}</div>
                                    {% if errors.any %}
                                        <div class="card red white-text center-align">
                                            <div class="card-content center-align">
                                                <span class="material-icons left">warning</span>
                                                {% for error in errors.all %}
                                                    <p class="center-align">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input required autofocus name="username" value="{{ old('username') }}" id="username" type="text" class="validate">
                                            <label for="username" id="username_label">{{ trans('auth.username') }}</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">lock</i>
                                            <input required id="password" name="password" type="password" class="validate">
                                            <label for="password" id="password_label">{{ trans('auth.password') }}</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input name="remember" type="checkbox" id="remember-me" {{ old('remember') ? 'checked' : '' }}/>
                                            <label for="remember-me">{{ trans('auth.remember_me') }}</label>
                                        </div>
                                        {{ csrf_field() }}
                                    </div>
                                </div>
                                <div class="loader-wrapper hide valign-wrapper">
                                    <div class="preloader-wrapper big active valign">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button type="submit" class="login-button btn" id="btn_login">{{ trans('auth.log_in') }}</button>
                                <a href="{{ route('auth/forgot_password') }}" class="btn">{{ trans('auth.forgot_password') }}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% block scripts %}
    <script src="{{ asset('js/app.js?v=1.0') }}"></script>
    <script src="{{ asset('js/pxl.js?v=13') }}"></script>
    <script>window.auth = {doLoginUrl: '{{ route('auth/do_login') }}', homeUrl: '{{ route('home') }}'};</script>
    <script src="{{ asset('js/login.js') }}"></script>
{% endblock %}
{% endblock %}
</body>
</html>