<!DOCTYPE html>
<html class="login-page">
<head>
    {% include 'partials/head.twig' %}
    <title>{% block title %}Log in{% endblock %} – {{ config_get('app.name') }}</title>
</head>
<body>
{% block body %}
    <div class="container page-content fullheight">
        {% block content %}
            <div class="row fullheight">
                <div class="fullheight col s12 m6 offset-m3 valign-wrapper">
                    <div class="card red accent-2 valign">
                        <form>
                            <div class="card-content white-text">
                                <div class="center-align">
                                    <img class="login-logo" src="{{ asset('img/logo/Px-logo-cut-small.png') }}" alt="{{ config_get('app.name') }}">
                                </div>
                                <div class="login-form">
                                    <div class="card-title center-align">{{ trans('auth.log_in') }}</div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input required name="username" id="username" type="text" class="validate">
                                            <label for="username">{{ trans('auth.username') }}</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">https</i>
                                            <input required id="password" name="password" type="password" class="validate">
                                            <label for="password">{{ trans('auth.password') }}</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <input type="checkbox" id="remember-me"/>
                                            <label for="remember-me">{{ trans('auth.remember_me') }}</label>
                                        </div>
                                        {{ csrf_field() }}
                                    </div>
                                </div>
                                <div class="loader-wrapper hide valign-wrapper">
                                    <div class="preloader-wrapper big active valign">
                                        <div class="spinner-layer spinner-green">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" class="login-button btn" id="btn_login">{{ trans('auth.log_in') }}</a>
                                <a href="{{ route('auth/register') }}" class="btn">{{ trans('auth.forgot_password') }}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% block scripts %}
    <script src="{{ asset('js/app.js?v=1.0') }}"></script>
    <script src="{{ asset('js/pxl.js?v=13') }}"></script>
    <script>
        $('#btn_login').on('click', function () {
            var formHeight = $('.login-form').height();
            $('.login-form').addClass('hide');
            $('.loader-wrapper').css('height', formHeight + 'px').removeClass('hide');
            $('.card-action .btn').addClass('disabled');
        });
    </script>
{% endblock %}
{% endblock %}
</body>
</html>