{% extends 'partials/page.twig' %}
{% block title %}{{ trans('upload.title') }}{% endblock %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h1>{{ trans('upload.title') }}</h1>
                {% if session('success') %}
                    <div class="card green white-text center-align">
                        <div class="card-content center-align">
                            <span class="material-icons left">check</span>
                            <p class="center-align">{{ session('success') }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if errors.has('error') %}
                    <div class="card red white-text center-align">
                        <div class="card-content center-align">
                            <span class="material-icons left">warning</span>
                            <p class="center-align">{{ errors.first('error') }}</p>
                        </div>
                    </div>
                {% endif %}
                <form method="POST" action="{{ route('do_upload') }}" enctype="multipart/form-data">
                    {{ csrf_field() }}
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>{{ trans('upload.pick_image') }}</span>
                            <input required name="file" type="file">
                        </div>
                        <div data-error="{{ errors.first('file') }}" class="file-path-wrapper">
                            <input name="filepath" class="file-path validate {{ errors.has('file') ? 'invalid' : '' }}" type="text">
                        </div>
                    </div>
                    {% if(errors.has('file')) %}

                        <div class="card red white-text">
                            <div class="card-content center-align">
                                <span class="material-icons left">warning</span>
                                <p class="center-align">{{ errors.first('file')|capitalize }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-waves-effect green waves-green">{{ trans('upload.upload') }}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}