<nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper">
        <a href="{{ route('home') }}"><img class="brand-logo center" src="{{ asset('img/logo/Px-logo-cut-small.png') }}"></a>
        <ul class="left hide-on-med-and-down">
            {% if auth_user() %}
                <li><a href="{{ route('upload') }}"><i class="material-icons left">cloud_upload</i> {{ trans('nav.upload') }}</a></li>
            {% endif %}
        </ul>
        <ul class="right hide-on-med-and-down">
            {% if auth_user() %}
                {% if auth_user().isAdmin() %}
                    <li>
                        <a href="#admin-dropdown" class="dropdown-button" data-activates="admin-dropdown">
                            <i class="material-icons left">settings</i> {{ trans('nav.administration') }}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="admin-dropdown" class="dropdown-content">
                            <li><a href="{{ route('admin/users') }}">{{ trans('nav.admin.users') }}</a></li>
                            <li><a href="{{ route('admin/domains') }}">{{ trans('nav.admin.domains') }}</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="#user-dropdown" class="dropdown-button" data-activates="user-dropdown">
                        <i class="material-icons left">person</i> {{ trans('nav.dropdown_greeting', {name: auth_user().username}) }}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="user-dropdown" class="dropdown-content">
                        <li><a href="{{ route('user/account') }}">{{ trans('nav.my_account') }}</a></li>
                        <li><a href="{{ route('user/preferences') }}">{{ trans('nav.preferences') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ route('auth/logout', {'token': csrf_token()}) }}">{{ trans('nav.log_out') }}</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="{{ route('auth/login') }}"><i class="material-icons left">input</i> Log in</a></li>
                {% if config_get('pxl.public_signups') %}
                    <li><a href="{{ route('auth/register') }}"><i class="material-icons left">person_add</i> Sign up</a></li>
                {% endif %}
            {% endif %}
        </ul>
        {# Sidebar navigation on small screens #}
        <ul id="nav-mobile" class="side-nav">
            {% if not auth_user() %}
                <li><a href="{{ route('auth/login') }}">Log in</a></li>
                {% if config_get('pxl.public_signups') %}
                    <li><a href="{{ route('auth/register') }}">Sign up</a></li>
                {% endif %}
            {% else %}

                {% if auth_user().isAdmin() %}
                    {# TODO Is this even useful on mobile? No idea. Lower priority than desktop nav. #}
                    <li>
                        <a href="#admin-dropdown-mobile" class="dropdown-button" data-activates="admin-dropdown-mobile">
                            <i class="material-icons left">settings</i> {{ trans('nav.administration') }}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="admin-dropdown-mobile" class="dropdown-content">
                            <li><a href="{{ route('admin/users') }}">{{ trans('nav.admin.users') }}</a></li>
                        </ul>
                    </li>
                {% endif %}

                <li>
                    <a href="#user-dropdown-mobile" class="dropdown-button" data-activates="user-dropdown-mobile">
                        <i class="material-icons left">person</i> {{ trans('nav.dropdown_greeting', {name: auth_user().username}) }}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="user-dropdown-mobile" class="dropdown-content">
                        <li><a href="{{ route('user/account') }}">{{ trans('nav.my_account') }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ route('auth/logout', {'token': csrf_token()}) }}">{{ trans('nav.log_out') }}</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>