<nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper">
        <a href="{{ url('/') }}"><img class="brand-logo center" src="{{ asset('img/logo/Px-logo-cut-small.png') }}"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ route('Auth/login') }}"><i class="material-icons left">input</i> Log in</a></li>
            {% if config_get('pxl.public_signups') %}
                <li><a href="{{ route('auth/register') }}"><i class="material-icons left">person_add</i> Sign up</a></li>
            {% endif %}
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ route('Auth/login') }}">Log in</a></li>
            {% if config_get('pxl.public_signups') %}
                <li><a href="{{ route('auth/register') }}">Sign up</a></li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>