{% extends 'partials/page.twig' %}
{% block title %}{{ trans('user.account.2fa.title') }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>{{ trans('user.account.2fa.title') }}</h2>
            <div class="card green white-text center-align">
                <div class="card-content center-align">
                    <span class="material-icons left">check</span>
                    <p class="center-align">{{ trans('user.account.2fa.success') }}</p>
                </div>
            </div>
        </div>
        <div class="col s12">
            <img class="responsive-img left" src="{{ qrCodeUrl }}">
            <p>{{ trans('user.account.2fa.success_instructions') }}</p>
            <code>{{ secret }}</code>
        </div>
    </div>
{% endblock %}