<nav class="red lighten-1" role="navigation">
    <div class="nav-wrapper row">
        <div class="col s12">
            <a href="{{ route('admin/index') }}" class="brand-logo center">{{ config_get('app.name') }}</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="{{ route('admin/index') }}"><i class="material-icons left">home</i> {{ trans('admin.manage') }}</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                {% if auth_user() %}
                    <li>
                        <a href="#user-dropdown" class="dropdown-button" data-activates="user-dropdown">
                            <i class="material-icons left">person</i> {{ trans('nav.dropdown_greeting', {name: auth_user().username}) }}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="user-dropdown" class="dropdown-content">
                            <li><a href="{{ route('admin/account') }}">{{ trans('nav.my_account') }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ route('auth/logout', {'token': csrf_token()}) }}">{{ trans('nav.log_out') }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ route('auth/login') }}"><i class="material-icons left">input</i> Log in</a></li>
                {% endif %}
            </ul>
            {# Sidebar navigation on small screens #}
            <ul id="nav-mobile" class="side-nav">
                {% if not auth_user() %}
                    <li><a href="{{ route('auth/login') }}">Log in</a></li>
                {% else %}
                    <li><a href="{{ route('admin/index') }}"><i class="material-icons left">home</i> {{ trans('admin.manage') }}</a></li>
                    <li>
                        <a href="#user-dropdown-mobile" class="dropdown-button" data-activates="user-dropdown-mobile">
                            <i class="material-icons left">person</i> {{ trans('nav.dropdown_greeting', {name: auth_user().username}) }}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="user-dropdown-mobile" class="dropdown-content">
                            <li><a href="{{ route('admin/account') }}">{{ trans('nav.my_account') }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ route('auth/logout', {'token': csrf_token()}) }}">{{ trans('nav.log_out') }}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </div>
</nav>