{% extends 'partials/page.twig' %}
{% block title %}{{ trans('user.preferences.title') }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>{{ trans('user.preferences.title') }}</h2>
            {% if session('success') %}
                <div class="card green white-text center-align">
                    <div class="card-content center-align">
                        <span class="material-icons left">check</span>
                        <p class="center-align">{{ session('success') }}</p>
                    </div>
                </div>
            {% endif %}
            {% if errors.any %}
                <div class="card red white-text center-align">
                    <div class="card-content center-align">
                        <span class="material-icons left">warning</span>
                        <p class="center-align">{{ trans_choice('user.account.errors_occurred', errors.count()) }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col s12">
            <form method="POST" action="{{ route('user/update_preferences') }}">
                {{ csrf_field() }}
                {{ method_field('PUT') }}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="embed_name" name="embed_name" value="{{ old('embed_name', user.embed_name) }}" type="text" class="validate {{ errors.has('embed_name') ? 'invalid' : '' }}">
                        <label for="embed_name" class="{{ errors.has('embed_name') ? 'active' : '' }}" data-error="{{ errors.first('embed_name')|capitalize }}">{{ trans('user.preferences.embed_name') }}</label>
                        <p class="help">
                            {{ trans('user.preferences.embed_name_help') }}
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <input id="embed_name_url" name="embed_name_url" value="{{ old('embed_name_url', user.embed_name_url) }}" type="text" class="validate {{ errors.has('embed_name_url') ? 'invalid' : '' }}">
                        <label for="embed_name_url" class="{{ errors.has('embed_name_url') ? 'active' : '' }}" data-error="{{ errors.first('embed_name_url')|capitalize }}">{{ trans('user.preferences.embed_name_url') }}</label>
                        <p class="help">
                            {{ trans('user.preferences.embed_name_url_help') }}
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <input id="twitter_username" name="twitter_username" value="{{ old('twitter_username', user.twitter_username) }}" type="text" class="validate {{ errors.has('twitter_username') ? 'invalid' : '' }}">
                        <label for="twitter_username" class="{{ errors.has('twitter_username') ? 'active' : '' }}" data-error="{{ errors.first('twitter_username')|capitalize }}">{{ trans('user.preferences.twitter_username') }}</label>
                        <p class="help">
                            {{ trans('user.preferences.twitter_username_help') }}
                        </p>
                    </div>
                    <div class="switch col s12">
                        <label>
                            {{ trans('user.preferences.default_url_exclude_gallery_extension') }}
                            <input name="prefers_preview_link" value="1" {{ old('prefers_preview_link', user.prefers_preview_link) ? 'checked' }} type="checkbox">
                            <span class="lever"></span>
                            {{ trans('user.preferences.default_url_include_gallery_extension') }}
                        </label>
                        <p class="help">
                            {{ trans('user.preferences.default_url_help') }}
                        </p>
                    </div>
                    {% if domains.empty() %}
                        <div class="card yellow red-text center-align col s12">
                            <div class="card-content center-align">
                                <span class="material-icons left">warning</span>
                                <p class="center-align">{{ trans('user.preferences.no_domains_available') }}</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="input-field col s12">
                        <select name="default_domain" id="default_domain">
                            {% for domain in domains %}
                                <option value="{{ domain.id }}" {{ domain.id == user.default_domain ? 'selected' }}>{{ domain.domain }}</option>
                            {% endfor %}
                        </select>
                        <label for="default_domain">{{ trans('user.preferences.default_domain') }}</label>
                        {% if(errors.has('default_domain')) %}
                            <p class="red-text">{{ errors.first('default_domain')|capitalize }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12">
                        {{ trans('user.preferences.default_deletion_time.name') }}
                        <div class="input-field col s12">
                            <input value="{{ old('default_deletion_time.minutes', default_deletion_time.minutes) }}" id="default_deletion_time[minutes]" name="default_deletion_time[minutes]" type="number" min="0" max="59" class="validate {{ errors.has('default_deletion_time.minutes') ? 'invalid' }}">
                            <label for="default_deletion_time[minutes]" class="{{ errors.has('default_deletion_time.minutes') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.minutes')|capitalize }}">{{ trans('user.preferences.default_deletion_time.minutes') }}</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="{{ old('default_deletion_time.hours', default_deletion_time.hours) }}" id="default_deletion_time[hours]" name="default_deletion_time[hours]" type="number" min="0" max="23" class="validate {{ errors.has('default_deletion_time.hours') ? 'invalid' }}">
                            <label for="default_deletion_time[hours]" class="{{ errors.has('default_deletion_time.hours') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.hours')|capitalize }}">{{ trans('user.preferences.default_deletion_time.hours') }}</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="{{ old('default_deletion_time.days', default_deletion_time.days) }}" id="default_deletion_time[days]" name="default_deletion_time[days]" type="number" min="0" max="30" class="validate {{ errors.has('default_deletion_time.days') ? 'invalid' }}">
                            <label for="default_deletion_time[days]" class="{{ errors.has('default_deletion_time.days') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.days')|capitalize }}">{{ trans('user.preferences.default_deletion_time.days') }}</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="{{ old('default_deletion_time.months', default_deletion_time.months) }}" id="default_deletion_time[months]" name="default_deletion_time[months]" type="number" min="0" max="24" class="validate {{ errors.has('default_deletion_time.months') ? 'invalid' }}">
                            <label for="default_deletion_time[months]" class="{{ errors.has('default_deletion_time.months') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.months')|capitalize }}">{{ trans('user.preferences.default_deletion_time.months') }}</label>
                        </div>
                        <div class="input-field col s12">
                            <input value="{{ old('default_deletion_time.years', default_deletion_time.years) }}" id="default_deletion_time[years]" name="default_deletion_time[years]" type="number" min="0" max="3" class="validate {{ errors.has('default_deletion_time.years') ? 'invalid' }}">
                            <label for="default_deletion_time[years]" class="{{ errors.has('default_deletion_time.years') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.years')|capitalize }}">{{ trans('user.preferences.default_deletion_time.years') }}</label>
                        </div>
                        <p class="help">
                            {{ trans('user.preferences.default_deletion_time.help') }}
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">{{ trans('user.preferences.save') }}
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}