{% extends 'partials/page.twig' %}
{% block title %}{{ trans('user.preferences.title') }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h2>{{ trans('user.preferences.title') }}</h2>
            {% if session('success') %}
                <div class="card green white-text center-align">
                    <div class="card-content center-align">
                        <span class="material-icons left">check</span>
                        <p class="center-align">{{ session('success') }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col s12">
            <form method="POST" action="{{ route('user/update_preferences') }}">
                {{ csrf_field() }}
                {{ method_field('PUT') }}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="embed_name" name="embed_name" value="{{ old('embed_name', user.embed_name) }}" type="text" class="validate {{ errors.has('embed_name') ? 'invalid' : '' }}">
                        <label for="embed_name" class="{{ errors.has('embed_name') ? 'active' : '' }}" data-error="{{ errors.first('embed_name')|capitalize }}">{{ trans('user.preferences.embed_name') }}</label>
                        <p class="help">
                            {{ trans('user.preferences.embed_name_help') }}
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <input id="embed_name_url" name="embed_name_url" value="{{ old('embed_name_url', user.embed_name_url) }}" type="text" class="validate {{ errors.has('embed_name_url') ? 'invalid' : '' }}">
                        <label for="embed_name_url" class="{{ errors.has('embed_name_url') ? 'active' : '' }}" data-error="{{ errors.first('embed_name_url')|capitalize }}">{{ trans('user.preferences.embed_name_url') }}</label>
                        <p class="help">
                            {{ trans('user.preferences.embed_name_url_help') }}
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <input id="twitter_username" name="twitter_username" value="{{ old('twitter_username', user.twitter_username) }}" type="text" class="validate {{ errors.has('twitter_username') ? 'invalid' : '' }}">
                        <label for="twitter_username" class="{{ errors.has('twitter_username') ? 'active' : '' }}" data-error="{{ errors.first('twitter_username')|capitalize }}">{{ trans('user.preferences.twitter_username') }}</label>
                        <p class="help">
                            {{ trans('user.preferences.twitter_username_help') }}
                        </p>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">{{ trans('user.preferences.save') }}
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}