{% extends 'partials/page.twig' %}
{% block title %}{{ trans('admin.users.edit.title', { name: user.username }) }}{% endblock %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="col s12">
                    <h2>{{ trans('admin.users.edit.title', { name: user.username }) }}</h2>
                    {% if session('success') %}
                        <div class="card green white-text center-align">
                            <div class="card-content center-align">
                                <span class="material-icons left">check</span>
                                <p class="center-align">{{ session('success') }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% if errors.any %}
                        <div class="card red white-text center-align">
                            <div class="card-content center-align">
                                <span class="material-icons left">warning</span>
                                <p class="center-align">{{ trans_choice('admin.users.edit.errors_occurred', errors.count()) }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col m4 s12 push-m8">
                    <b>{{ trans('user.account.type') }}: </b> {{ trans('user.rank.' ~ user.rank) }}<br/>
                    <b>{{ trans('user.account.created_at') }}:</b> {{ user.created_at|date(trans('datetime.format.date_and_time')) }}<br/>
                    <b>{{ trans('user.account.last_login') }}:</b> {{ trans('user.account.last_login_from', {timestamp: user.last_login is null ? trans('datetime.never') : user.last_login|date(trans('datetime.format.date_and_time')), ip: user.last_ip}) }}
                    <br/>
                    <b>{{ trans('user.account.upload_token') }}:</b> <code class="token">{{ upload_token_masked }}</code>
                    <form method="POST" action="{{ route('admin/reset_token', { user: user }) }}">
                        {{ csrf_field() }}
                        <button type="submit" class="btn btn-waves-effect red waves-red">{{ trans('admin.users.edit.reset_upload_token') }}</button>
                    </form>
                    <b>{{ trans('user.account.images_on_account') }}:</b> {{ trans('user.account.images', { amount: user.images().count}) }}
                </div>
                <div class="col m8 s12 pull-m4">
                    <form method="POST" action="{{ route('admin/update_user', { user: user }) }}">
                        {{ csrf_field() }}
                        {{ method_field('PUT') }}
                        <input type="hidden" name="id" value="{{ user.id }}"/>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" name="username" value="{{ old('username', user.username) }}" type="text" class="validate {{ errors.has('username') ? 'invalid' : '' }}">
                                <label for="username" class="{{ errors.has('username') ? 'active' : '' }}" data-error="{{ errors.first('username')|capitalize }}">{{ trans('user.account.username') }}</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" name="email" value="{{ old('email', user.email) }}" type="email" class="validate {{ errors.has('email') ? 'invalid' : '' }}">
                                <label for="email" class="{{ errors.has('email') ? 'active' : '' }}" data-error="{{ errors.first('email')|capitalize }}">{{ trans('user.account.email') }}</label>
                            </div>
                            <div class="input-field col s12">
                                <select name="rank" id="rank">
                                    <option value="member" {{ not user.isAdmin() ? 'selected' }}>{{ trans('user.rank.member') }}</option>
                                    <option value="admin" {{ user.isAdmin() ? 'selected' }}>{{ trans('user.rank.admin') }}</option>
                                </select>
                                <label for="rank">{{ trans('user.account.type') }}</label>
                                {% if(errors.has('rank')) %}
                                    <p class="red-text">{{ errors.first('rank')|capitalize }}</p>
                                {% endif %}
                            </div>
                            <div class="switch col s12">
                                <label>
                                    {{ trans('admin.users.edit.account_disabled') }}
                                    <input name="enabled" value="1" {{ old('enabled', user.active) == '1' ? 'checked' }} type="checkbox">
                                    <span class="lever"></span>
                                    {{ trans('admin.users.edit.account_enabled') }}
                                </label>
                            </div>
                            <div class="switch col s12">
                                <label>
                                    {{ trans('admin.users.edit.2fa_disabled') }}
                                    <input name="2fa_status" value="1" {{ old('2fa_status', user.hasTwoFactorAuth()) == '1' ? 'checked' : 'disabled' }} type="checkbox">
                                    <span class="lever"></span>
                                    {{ trans('admin.users.edit.2fa_enabled') }}
                                </label>
                                <p class="help">
                                    {% if old('2fa_status', user.hasTwoFactorAuth()) == '1' %}
                                        {{ trans('admin.users.edit.2fa_warning') }}
                                    {% else %}
                                        {{ trans('admin.users.edit.2fa_user') }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="input-field col s12">
                                <input id="new_password" name="new_password" value="{{ old('new_password') }}" type="password" class="validate {{ errors.has('new_password') ? 'invalid' : '' }}">
                                <label for="new_password" class="{{ errors.has('new_password') ? 'active' : '' }}" data-error="{{ errors.first('new_password')|capitalize }}">{{ trans('user.account.new_password') }}</label>
                                <p class="help">
                                    {{ trans('admin.users.edit.new_password_help') }}
                                </p>
                            </div>
                            <div class="input-field col s12">
                                <input id="new_password_confirmation" name="new_password_confirmation" value="{{ old('new_password_confirmation') }}" type="password" class="validate {{ errors.has('new_password_confirmation') ? 'invalid' : '' }}">
                                <label for="new_password_confirmation" class="{{ errors.has('new_password_confirmation') ? 'active' : '' }}" data-error="{{ errors.first('new_password_confirmation')|capitalize }}">{{ trans('user.account.new_password_confirmation') }}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <h3>{{ trans('admin.users.edit.preferences.title') }}</h3>
                            </div>
                            <div class="input-field col s12">
                                <input id="embed_name" name="embed_name" value="{{ old('embed_name', user.embed_name) }}" type="text" class="validate {{ errors.has('embed_name') ? 'invalid' : '' }}">
                                <label for="embed_name" class="{{ errors.has('embed_name') ? 'active' : '' }}" data-error="{{ errors.first('embed_name')|capitalize }}">{{ trans('admin.users.edit.preferences.embed_name') }}</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="embed_name_url" name="embed_name_url" value="{{ old('embed_name_url', user.embed_name_url) }}" type="text" class="validate {{ errors.has('embed_name_url') ? 'invalid' : '' }}">
                                <label for="embed_name_url" class="{{ errors.has('embed_name_url') ? 'active' : '' }}" data-error="{{ errors.first('embed_name_url')|capitalize }}">{{ trans('admin.users.edit.preferences.embed_name_url') }}</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="twitter_username" name="twitter_username" value="{{ old('twitter_username', user.twitter_username) }}" type="text" class="validate {{ errors.has('twitter_username') ? 'invalid' : '' }}">
                                <label for="twitter_username" class="{{ errors.has('twitter_username') ? 'active' : '' }}" data-error="{{ errors.first('twitter_username')|capitalize }}">{{ trans('admin.users.edit.preferences.twitter_username') }}</label>
                            </div>
                            <div class="switch col s12">
                                <label>
                                    {{ trans('admin.users.edit.preferences.default_url_exclude_gallery_extension') }}
                                    <input name="prefers_preview_link" value="1" {{ old('prefers_preview_link', user.prefers_preview_link) ? 'checked' }} type="checkbox">
                                    <span class="lever"></span>
                                    {{ trans('admin.users.edit.preferences.default_url_include_gallery_extension') }}
                                </label>
                            </div>
                            {% if domains.empty() %}
                                <div class="card yellow red-text center-align col s12">
                                    <div class="card-content center-align">
                                        <span class="material-icons left">warning</span>
                                        <p class="center-align">{{ trans('admin.users.edit.preferences.no_domains_available') }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="input-field col s12">
                                <select name="default_domain" id="default_domain">
                                    {% for domain in domains %}
                                        <option value="{{ domain.id }}" {{ domain.id == user.default_domain ? 'selected' }}>{{ domain.domain }} ({{ domain.ownedBy().getResults().username ?: '-' }})</option>
                                    {% endfor %}
                                </select>
                                <label for="default_domain">{{ trans('admin.users.edit.preferences.default_domain') }}</label>
                                {% if(errors.has('default_domain')) %}
                                    <p class="red-text">{{ errors.first('default_domain')|capitalize }}</p>
                                {% endif %}
                            </div>
                            <div class="col s12">
                                {{ trans('admin.users.edit.preferences.default_deletion_time.name') }}
                                <div class="input-field col s12">
                                    <input value="{{ old('default_deletion_time.minutes', default_deletion_time.minutes) }}" id="default_deletion_time[minutes]" name="default_deletion_time[minutes]" type="number" min="0" max="59" class="validate {{ errors.has('default_deletion_time.minutes') ? 'invalid' }}">
                                    <label for="default_deletion_time[minutes]" class="{{ errors.has('default_deletion_time.minutes') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.minutes')|capitalize }}">{{ trans('admin.users.edit.preferences.default_deletion_time.minutes') }}</label>
                                </div>
                                <div class="input-field col s12">
                                    <input value="{{ old('default_deletion_time.hours', default_deletion_time.hours) }}" id="default_deletion_time[hours]" name="default_deletion_time[hours]" type="number" min="0" max="23" class="validate {{ errors.has('default_deletion_time.hours') ? 'invalid' }}">
                                    <label for="default_deletion_time[hours]" class="{{ errors.has('default_deletion_time.hours') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.hours')|capitalize }}">{{ trans('admin.users.edit.preferences.default_deletion_time.hours') }}</label>
                                </div>
                                <div class="input-field col s12">
                                    <input value="{{ old('default_deletion_time.days', default_deletion_time.days) }}" id="default_deletion_time[days]" name="default_deletion_time[days]" type="number" min="0" max="30" class="validate {{ errors.has('default_deletion_time.days') ? 'invalid' }}">
                                    <label for="default_deletion_time[days]" class="{{ errors.has('default_deletion_time.days') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.days')|capitalize }}">{{ trans('admin.users.edit.preferences.default_deletion_time.days') }}</label>
                                </div>
                                <div class="input-field col s12">
                                    <input value="{{ old('default_deletion_time.months', default_deletion_time.months) }}" id="default_deletion_time[months]" name="default_deletion_time[months]" type="number" min="0" max="24" class="validate {{ errors.has('default_deletion_time.months') ? 'invalid' }}">
                                    <label for="default_deletion_time[months]" class="{{ errors.has('default_deletion_time.months') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.months')|capitalize }}">{{ trans('admin.users.edit.preferences.default_deletion_time.months') }}</label>
                                </div>
                                <div class="input-field col s12">
                                    <input value="{{ old('default_deletion_time.years', default_deletion_time.years) }}" id="default_deletion_time[years]" name="default_deletion_time[years]" type="number" min="0" max="3" class="validate {{ errors.has('default_deletion_time.years') ? 'invalid' }}">
                                    <label for="default_deletion_time[years]" class="{{ errors.has('default_deletion_time.years') ? 'active' : '' }}" data-error="{{ errors.first('default_deletion_time.years')|capitalize }}">{{ trans('admin.users.edit.preferences.default_deletion_time.years') }}</label>
                                </div>
                                <p class="help">
                                    {{ trans('admin.users.edit.preferences.default_deletion_time.help') }}
                                </p>
                            </div>
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">{{ trans('admin.users.edit.save') }}
                                    <i class="material-icons right">save</i>
                                </button>
                                <a class="btn-flat waves-effect waves-red right tooltipped" data-position="top" data-delay="50" data-tooltip="{{ trans('admin.users.edit.delete') }}" href="#" id="account_deletion">
                                    <i class="red-text material-icons">remove_circle</i>
                                </a>
                            </div>
                            <div class="col s12 center hide" id="delete_container">
                                <a class="btn red waves-effect waves-red center" href="{{ route('admin/delete_user', { user: user }) }}" id="do_delete">
                                    <i class="material-icons left">delete_forever</i> {{ trans('admin.users.edit.delete') }}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('#account_deletion').on('click', function (e) {
                e.preventDefault();

                $('#delete_container').hide().removeClass('hide').slideDown();
                return false;
            });

            $("#do_delete").on('click', function (e) {
                return confirm("{{ trans('admin.users.edit.delete_confirmation', {site: config_get('app.name')}) }}");
            });
        });
    </script>
{% endblock %}