{% extends 'partials/page.twig' %}
{% block title %}{{ trans('admin.users.new.title') }}{% endblock %}
{% block content %}
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="col s12">
                    <h2>{{ trans('admin.users.new.title') }}</h2>
                    {% if session('success') %}
                        <div class="card green white-text center-align">
                            <div class="card-content center-align">
                                <span class="material-icons left">check</span>
                                <p class="center-align">{{ session('success') }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {% if errors.any %}
                        <div class="card red white-text center-align">
                            <div class="card-content center-align">
                                <span class="material-icons left">warning</span>
                                <p class="center-align">{{ trans_choice('admin.users.edit.errors_occurred', errors.count()) }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col s12">
                    <form method="POST" action="{{ route('admin/create_user') }}">
                        {{ csrf_field() }}
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" name="username" value="{{ old('username') }}" type="text" class="validate {{ errors.has('username') ? 'invalid' : '' }}">
                                <label for="username" class="{{ errors.has('username') ? 'active' : '' }}" data-error="{{ errors.first('username')|capitalize }}">{{ trans('user.account.username') }}</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" name="email" value="{{ old('email') }}" type="email" class="validate {{ errors.has('email') ? 'invalid' : '' }}">
                                <label for="email" class="{{ errors.has('email') ? 'active' : '' }}" data-error="{{ errors.first('email')|capitalize }}">{{ trans('user.account.email') }}</label>
                            </div>
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="action">{{ trans('admin.users.new.create') }}
                                    <i class="material-icons right">person_add</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}